<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>save</title>
</head>
<body>
<form action="/save" method="post" enctype="multipart/form-data">
    제목: <input type="text" name="boardTitle"> <br>
    내용: <textarea name="boardContent" cols="30" rows="10"></textarea> <br>
    작성자: <input type="text" name="boardWriter"> <br>
                                    <!--  multiple : 한 번에 여러개 추가할 수 있도록 해줌.  -->
    파일: <input type="file" name="boardFile" multiple> <br>
    비밀번호: <input type="password" name="boardPassword"> <br>
    <input type="submit" value="작성">
</form>
</body>
</html>