<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <!--  parameterType : SQL쿼리에 전달되는 입력 파라미터의 타입을 지정  -->
    <!--  resultType :  SQL 실행 후 반환되는 출력 결과의 타입을 정의 -->
    <insert id="save" parameterType="board">
        INSERT INTO board_table(boardTitle, boardContent, boardWriter, boardPassword)
        VALUES (#{boardTitle}, #{boardContent}, #{boardWriter}, #{boardPassword})
    </insert>

    <!--  select때 resultType은 반드시 있어야하고 parameterType은 있거나 없거나.  -->
    <!--  repository에서 메서드 호출할 때 인자가 없이 호출해서 resultType만 작성했음.   -->
    <select id="findAll" resultType="board">
        SELECT id, boardTitle, boardWriter, boardHits, date_format(createdAt, "%Y-%m-%d") as createdAt
        FROM board_table order by id DESC
    </select>

    <update id="updateHits" parameterType="Long">
        UPDATE board_table SET boardHits = boardHits + 1 WHERE id = #{id}
    </update>

    <select id="findById" parameterType="Long" resultType="board">
        SELECT id, boardTitle, boardContent, boardWriter, boardHits, boardPassword
             , date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt
        FROM board_table WHERE id = #{id}
    </select>

    <update id="update" parameterType="board">
        UPDATE board_table SET boardTitle = #{boardTitle}, boardContent = #{boardContent}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM board_table WHERE id = #{id}
    </delete>

</mapper>